process {
    executor = 'awsbatch'
    queue = 'nextflow-fargate-jq'
    container = 'quay.io/nextflow/rnaseq-nf:v1.2.1'
    //containerOptions = '--shm-size 16000000 --ulimit nofile=1280:2560 --ulimit nproc=16:32'
}

aws {
    batch {
        platformType = 'fargate'
        jobRole = 'arn:aws:iam::992382797826:role/AmazonECSTaskS3BucketRole'
        executionRole = 'arn:aws:iam::992382797826:role/ecsTaskExecutionRole'
    }
    region = 'us-east-1'
    accessKey = 'your_access_key'
    secretKey = 'your_secret_key'
}

wave {
    enabled = true
}
